<div class="gallery">
	<div class="jumbotron text-center">
	<h1>Making the World Beautiful</h1>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/sS4XekN.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/9yEmTjf.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/Jo5WHGw.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>  
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/KTDC1dJ.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/FwBdUB1.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/5pbsOrY.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="avatar">
                        <img src="http://i.imgur.com/zNYjE8T.jpg" width="200" height="200" alt="" />
                    </div>
                </div>
            </div>   
        </div>
    </div>
    </div>
</div>