<style>


.parallax {
    background-image: url("http://i.imgur.com/BIqs6gy.jpg");
    height: 450px;
/*    min-height: 500px; 
*/    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
	background-image: url("http://i.imgur.com/FYRfge2.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: gold;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption2 {
  position: relative;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption2 span.border {
	background-color: #111;
	color: gold;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}


</style>

<div class="parallax">
</div>


<div class="jumbotron text-center">
	<h1>About Chelsey</h1>

	<p>{{ tagline }}</p>
</div>

<div class="parallax2">
</div>